body {
    font-family: Lato, Helvetica nueu, arial, sans-serif;
    background: #071026;
    color: #707070;
     }
 
#tooltip {	
            position: absolute;
            z-index: 999;
            text-align: center;
            width: 100px;					
            height: 90px;					
            padding: 5px;
            font: 12px sans-serif;
            font-family: 'Lato', sans-serif;
            font-weight: bold;
            background: none;	
            border: 0px;		
            border-radius: 2px;
            line-height: 1.4;
            visibility: hidden;
            color: '#efefef';
            
         }
             

.footer {
  background-color: #1D1E24;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 20px;

   font-size: 10px;

}

.footer text{
        /*color: #cecece;*/
        color: white;
        margin-left: 20px;
        font-size: 12px;
}

#v-pills-tab{
    text-align: right;
    margin-top: 50%;
}

.col-4{
    margin-top: 5%;
}

h5{
    color: #efefef;
}

h7{
    margin-top:20px;
    color: #aaaaaa;
}

p{
    margin-top:20px;
}
a {
  color: white;
}

a:hover {
  color: hotpink;
  text-decoration: none;
}

a:active {
  color: hotpink;
  text-decoration: none;
}

div#tooltip {
        position: absolute;
        text-align: center;
        width: 100px;
        height: 40px;
        padding: 2px;
        font-size: 14px;
        background: #fafad2;
        border-radius: 2px;
        pointer-events: none;
        stroke: black;
        fill: black;
        color: black;
    }
    
#heading{
    
    margin-left: 20%;
     margin-top: 10%;
    font-size: 24px;
    color: white;
    
}

#sidebar{
    
    margin-left: 5%;
     margin-top: 30%;
    font-size: 18px;
    color: white;
    
}

.sidebar{
    
    text-align: right;
    
}

.aic_line {
    fill: none;
    stroke: #ffab00;
    stroke-width: 2;
}

#toggle{
    cursor: pointer;
}

#toggle:hover rect{
    stroke: red;
}

 
 .button
     {
       /*style button here*/
       width:fit-content;
       padding:2%;
       border-style: solid;
       border-width: 0.5px;
       border-color: #efefef;
       background: #efefef;
       color: #071026;
       border-radius: 3px;
    }
    
    .button:hover 
    {
        /*style button hover stuff here*/
     }
     
div.row{
    vertical-align: middle;
}

#row{
     vertical-align: middle;
}

.anything:hover {
  stroke-opacity: 2 !important;
  stroke-width: 2 !important;
}

path{
     stroke-opacity: 0.3 !important;
}