$primary: rgba(87,176,234,1);
$uig: rgba(87,176,234,1);
$work: rgba(255, 138, 24,1);
$family:rgba(247, 129, 191, 1); // blue: 31,120,180 // violet: rgba(247, 129, 191, 1)
$retirement:rgba(177,89,40, 1);
$disability:rgba(152, 78, 168, 1);
$healthcare:rgba(251,154,153, 1); // pink 
$minc: rgba(0,0,0,0.5);
$deactive-income: rgba(0,0,0,0.3);
$deactive-welfare: rgba(0,0,0,0.3);
$deactive-uig: rgba(87,176,234,0.8);

$positive: rgba(51,160,44,1);
$negative: rgba(227,26,28, 1);

$standard: rgba(0,0,0,0.85);
$medium: rgba(0,0,0,0.7);
$light: rgba(0,0,0,0.6);

$font-standard-color: $standard;
$font-medium-color: $medium;
$font-light-color: $light;

$center-background-color: rgba(252,252,252,1);
$body-background-color: rgba(235,235,235,1);
$font-highlight-color: rgba(0,0,0,0.4);