@import 'normalize';
@import 'tooltip';
@import 'layout';
@import 'checkbox';
@import 'input';
@import 'colors';
@import 'typography';
@import 'transitions';
@import 'scroll';

$hamburger-layer-color: $primary;
$hamburger-hover-color: $center-background-color;
$hamburger-active-layer-color: $center-background-color;
$hamburger-active-hover-color: $body-background-color;
$hamburger-layer-border-radius: 2px;

@import 'vendors/hamburgers'